version: '3.8'

services:
  app:
    build: .
    init: true
    restart: unless-stopped
    ports:
      - "80:80"
      - "1234:22"
    volumes:
      - ./www:/opt/lampp/htdocs
      # - ./conf/httpd.conf:/opt/lampp/apache2/conf.d/httpd.conf